<h1>All Users</h1>
<table>
    <tr>
        <th>name <hr></th>
        <th>email <hr></th>
        <th><%= link_to 'New User', new_user_path %><hr></th>
    </tr>

    <% @users.each do |user| %>
    <tr>        
        <td><%=user.name%><hr></td>
        <td><%=user.email%><hr></td>
        <td><%=link_to 'show', user_path(user.id)%><hr>
        <td><%=link_to 'edit', edit_user_path(user.id)%><hr>
        <td><%= link_to 'destory', user_path(user.id), data: {turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                                }%><hr>
    </tr>
    <%end%>

</table>    

